evolm/tests/data/model_4/*
*.bed
evogen/tests/data/haplotypes_pop_large.dat
evogen/tests/data/haplotypes_pop_large2.dat
evogen/tests/data/struct_haplotypes_pop_large.dat
evogen/tests/data/struct_haplotypes_pop_large2.dat
evogen/trait_pop.dat
evogen/trait_pop2.dat
evogen/trait_pop_reduced.dat
evoped/tests/data/.DS_Store
evoped/tests/data/core.dat
evoped/tests/data/sstep_050/
evoped/subm_test/
evoped/tests/data/big/
evoped/release2/
evolm/release/
evolm/tests/data/large_data/
evolm/tests/data/big_snp_sstep
libplinkio/test_data
libplinkio/release_lib/
evolm/solutions.mat
