evolm/tests/data/model_4/*
*.bed
*.json
evogen/tests/data/haplotypes_pop_large.dat
evogen/tests/data/haplotypes_pop_large2.dat
evogen/tests/data/struct_haplotypes_pop_large.dat
evogen/tests/data/struct_haplotypes_pop_large2.dat
